@charset utf-8;

@font-face{
	font-family: Humnst777;
	src: url(../fonts/Humnst777.ttf);
}

.btn-func-ls{
	font-family: Humnst777;
	width: 100%;
	padding: 10px;
	border: none;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
	background-color: #eee;
	cursor: pointer;
}

details{
	padding: 5px;
}

#func-list{
	/*To get childs using js*/
}

#ref-class-list{
	padding:  10px;
}

#ref-class-list h1{
	font-family: Humnst777;
	font-size: 28px;
}

#ref-class-list h2{
	font-family: Humnst777;
	font-size: 24px;
}

#ref-description{
	font-size: 18px;
	padding: 35px;
}

#ref-class-list li{
	list-style-type: none;
	padding: 10px;
	margin-left: -40px;
}

[id *="desktop-view-"]{
	display: none;
}

[id *="mobile-view-"]{
	display: none;
}

/*---Mobile Larger---*/
@media only screen and (max-width: 768px){
	.prot-func{
		border: 1px solid #000;		
		padding: 10px;
	}
	.prot-func code{
		font-size: 16px;
		color: #666;
	}
	.btn-func-ls{
		font-size: 20px;
	}
}

/*---Tablet---*/
@media only screen and (min-width: 769px){
	.prot-func{
		border: 1px solid #000;
		border-radius: 5px;
		padding: 10px;
	}
	.prot-func code{
		font-size: 16px;
		color: #666;
	}
	.btn-func-ls{
		font-size: 24px;
	}
}

/*For desktop*/
@media only screen and (min-width: 1366px){
	.prot-func{
		/*border: 1px solid #000;		*/
		padding: 10px;
	}
	.prot-func code{
		font-size: 16px;
		color: #666;
	}
	#ref-class-list{
		margin: 10px;
		border-right: 1px solid #ddd;
	}
	.btn-func-ls{
		font-size: 16px;
	}
}