@charset utf-8;

@font-face{
	font-family: Humnst777;
	src: url(fonts/Humnst777.ttf);
}

*{
	box-sizing: border-box;
}

body{
	background-color: #fff;
	font-family:  Arial, sans-serif;
	margin-left: 16.66%;
}

footer{
	background-color: #111;
	color: #fff;
	text-align: center;
}

/*---Main header and menu---*/

.main-header{
	/*background-color: #868;*/
}

.main-title{
	font-family: Humnst777;
	color: #fff;
}

.main-menu{
	/*background-color: #ddd;*/
}

.link-menu{
	color: #000;
}

.link-menu:link{
	text-decoration: underline;
	color: #000;
}

.link-menu:visited{
	text-decoration: none;
	/*color: #000;*/
}

.link-menu:hover{
	color: #fff;
}

.link-menu:active{
	text-decoration: none;
	color:  #aaa;
}

/*---Index page---*/

.item-menu{
	list-style-type: none;
	font-family: Humnst777;
}

.tech-item{
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	font-family: Humnst777;
}

/*--Main section---*/

.presentation{
	background-color: #fff;
}

/*Reference page---*/

.btn-func-ls{
	font-family: Humnst777;
	width: 100%;
	padding: 10px;
	background-color: #ddd;
	border: none;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.btn-func-ls:hover{
	background-color: #ddf;
}

#ref-class-list{
	background-color:  #fff;
	padding:  10px;
}

#ref-class-list h1{
	font-family: Humnst777;
	font-size: 28px;
}

#ref-class-list h2{
	font-family: Humnst777;
	font-size: 24px;
}

#ref-description{
	background-color: #fff;
	font-size:  18px;
}

#ref-class-list li{
	list-style-type: none;
	padding: 10px;
	margin-left: -40px;
}

.main-title{
	text-align: center;
}

/*---Responsive---*/

.row::after{
	content: "";
	clear:  both;
	display: table;
}

[class*="col-"]{
	float: left;
	padding: 12px;
	/*border:  1px solid #f00;*/
}

/*---Mobile Larger---*/
@media only screen and (max-width: 768px){
	.main-header{
		padding: 0px;
	}
	.main-title{
		background-color: #222;
	}
	.main-title h1{
		font-size: 48px;
		margin-top: 20px;
	}
	.main-title h2{
		font-size: 32px;
		margin-top: -30px;
	}
	.main-menu{
		padding: 0px;
	}
	.item-menu{
		text-align: center;
		border-bottom: 1px solid #aaa;
	}
	.link-menu{
		font-size: 24px;
	}
	.tech-item{
		font-size: 24px;
	}
	.prot-func{
		border: 1px solid #000;		
		padding: 10px;
	}
	.prot-func code{
		font-size: 16px;
		color: #666;
	}
	.btn-func-ls{
		font-size: 20px;
	}
	.col-s-1{width: 8.33%;}
	.col-s-2{width: 16.66%;}
	.col-s-3{width: 25%;}
	.col-s-4{width: 33.33%;}
	.col-s-5{width: 41.66%;}
	.col-s-6{width: 50%;}
	.col-s-7{width: 58.33%;}
	.col-s-8{width: 66.66%;}
	.col-s-9{width: 75%;}
	.col-s-10{width: 83.33%;}
	.col-s-11{width: 91.66%;}
	.col-s-12{width: 100.0%;}
}

/*---Table---*/
@media only screen and (min-width: 768px){
	.main-header{
		padding: 0px;
		background-color: #222;
	}
	.main-title{
	}
	.main-title h1{
		font-size: 48px;
		margin-top: 20px;
	}
	.main-title h2{
		font-size: 32px;
		margin-top: -30px;
	}
	.main-menu{
		padding: 0px;
	}
	.item-menu{
		text-align: center;
		border-bottom: 1px solid #aaa;
	}
	.link-menu{
		font-size: 24px;
		color: #fff;
	}
	.tech-item{
		font-size: 24px;
	}
	.prot-func{
		border: 1px solid #000;		
		padding: 10px;
	}
	.prot-func code{
		font-size: 16px;
		color: #666;
	}
	.btn-func-ls{
		font-size: 24px;
	}
	.col-t-1{width: 8.33%;}
	.col-t-2{width: 16.66%;}
	.col-t-3{width: 25%;}
	.col-t-4{width: 33.33%;}
	.col-t-5{width: 41.66%;}
	.col-t-6{width: 50%;}
	.col-t-7{width: 58.33%;}
	.col-t-8{width: 66.66%;}
	.col-t-9{width: 75%;}
	.col-t-10{width: 83.33%;}
	.col-t-11{width: 91.66%;}
	.col-t-12{width: 100.0%;}
}

/*For desktop*/
@media only screen and (min-width: 1366px){
	.main-header{
		padding: 0px;
		background-color: #222;
	}
	.main-title{
	}
	.main-title h1{
		font-size: 48px;
		margin-top: 20px;
	}
	.main-title h2{
		font-size: 32px;
		margin-top: -30px;
	}
	.main-menu{
		padding: 0px;
	}
	.item-menu{
		text-align: center;
		border-bottom: 1px solid #aaa;
	}
	.link-menu{
		font-size: 24px;
		color: #fff;
	}
	.tech-item{
		font-size: 24px;
	}
	.prot-func{
		border: 1px solid #000;		
		padding: 10px;
	}
	.prot-func code{
		font-size: 16px;
		color: #666;
	}
	#ref-class-list{
		margin: 10px;
		border-right: 1px solid #ddd;
	}
	.btn-func-ls{
		font-size: 20px;
	}
	.col-d-1{width: 8.33%;}
	.col-d-2{width: 16.66%;}
	.col-d-3{width: 25%;}
	.col-d-4{width: 33.33%;}
	.col-d-5{width: 41.66%;}
	.col-d-6{width: 50%;}
	.col-d-7{width: 58.33%;}
	.col-d-8{width: 66.66%;}
	.col-d-9{width: 75%;}
	.col-d-10{width: 83.33%;}
	.col-d-11{width: 91.66%;}
	.col-d-12{width: 100.0%;}
}