@charset utf-8;

@font-face{
	font-family: Humnst777;
	src: url(fonts/Humnst777.ttf);
}

*{
	box-sizing: border-box;
}

body{
	background-color: #456;
	font-family:  Arial, sans-serif;
}

footer{
	background-color: #111;
	color: #fff;
	text-align: center;
	width:  100%;
	padding: 10px;
}

/*---Main header and menu---*/

.main-header{
	width:  100%;
	background-color:  #868
}

.main-title{
	font-family: Humnst777;
	font-size: 32px;
	color: #000;
	padding: 13.5px;
}

.main-menu{
	margin-top: -20px;
}

a.link-menu{
	color: #000;
}

a.link-menu:link{
	text-decoration: none;
}

a.link-menu:visited{
	text-decoration: none;
}

a.link-menu:hover{
	color: #777;
}

a.link-menu:active{
	text-decoration: none;
}

li.item-menu{
	display: inline;
	list-style-type: none;
	float:  left;
	font-family: Humnst777;
	font-size: 32px;
	padding: 20px;
}

li.technologies{
	display: inline-block;
	width: 200px;
	list-style-type: none;
}

/*--Main section---*/

.presentation{
	background-color: #eee;
	padding:  10px;
}

/*---Responsive---*/

.row::after{
	content: "";
	clear:  both;
	display: table;
}

[class*="col-"]{
	float: left;
	padding: 15px;	
	border:  1px solid #ff00ff;
}

/*For desktop*/
@media only screen and (min-width: 768px){
	.col-1{width: 8.33%;}
	.col-2{width: 16.66%;}
	.col-3{width: 25%;}
	.col-4{width: 33.33%;}
	.col-5{width: 41.66%;}
	.col-6{width: 50%;}
	.col-7{width: 58.33%;}
	.col-8{width: 66.66%;}
	.col-9{width: 75%;}
	.col-10{width: 83.33%;}
	.col-11{width: 91.66%;}
	.col-12{width: 100%;}
}
/*For small mobile*/
@media only screen and (max-width: 768px){
	.col-s-1{width: 8.33%;}
	.col-s-2{width: 16.66%;}
	.col-s-3{width: 25%;}
	.col-s-4{width: 33.33%;}
	.col-s-5{width: 41.66%;}
	.col-s-6{width: 50%;}
	.col-s-7{width: 58.33%;}
	.col-s-8{width: 66.66%;}
	.col-s-9{width: 75%;}
	.col-s-10{width: 83.33%;}
	.col-s-11{width: 91.66%;}
	.col-s-12{width: 100%;}
}