@charset utf-8;

@font-face{
	font-family: Humnst777;
	src: url(fonts/Humnst777.ttf);
}

*{
	box-sizing: border-box;
}

body{
	background-color: #fff;
	font-family:  Arial, sans-serif;
}

footer{
	background-color: #111;
	color: #fff;
	text-align: center;
}

/*---Main header and menu---*/

.main-header{
	background-color: #868
}

.main-title{
	font-family: Humnst777;
	font-size: 48px;
	color: #fff;
}

.main-menu{
	/*background-color: #333;*/
}

.link-menu{
	color: #000;
}

.link-menu:link{
	text-decoration: none;
}

.link-menu:visited{
	text-decoration: none;
}

.link-menu:hover{
	color: #777;
}

.link-menu:active{
	text-decoration: none;
}

/*---Index page---*/

.item-menu{
	display: inline;
	list-style-type: none;
	float:  left;
	font-family: Humnst777;
	font-size: 32px;
	padding: 20px;
}

.tech-item{
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	font-family: Humnst777;
}

/*--Main section---*/

.presentation{
	background-color: #eee;
}

/*---_byNameList---*/

#ref-class-list{
	background-color:  #fff;
	padding:  10px;
}

#ref-class-list h1{
	font-family: Humnst777;
	font-size: 28px;
}

#ref-class-list h2{
	font-family: Humnst777;
	font-size: 24px;
}

#ref-description{
	background-color: #fff;
	font-size:  18px;
}

#ref-class-list li{
	list-style-type: none;
	padding: 10px;
	margin-left: -40px;

}

#ref-class-list button{
	font-family: Humnst777;
	width: 100%;
	padding: 10px;
	background-color: #ddf;
	font-size: 24px;
	border: none;
}

/*---Responsive---*/

.row::after{
	content: "";
	clear:  both;
	display: table;
}

[class*="col-"]{
	float: left;
	padding: 12px;
	/*border:  1px solid #f00;*/
}

/*For desktop*/
@media only screen and (min-width: 768px){
	.tech-item{
		font-size: 32px;
	}
	#ref-class-list{
		border-right:  1px solid #ccc;
	}
	.col-1{width: 8.33%;}
	.col-2{width: 16.66%;}
	.col-3{width: 25%;}
	.col-4{width: 33.33%;}
	.col-5{width: 41.66%;}
	.col-6{width: 50%;}
	.col-7{width: 58.33%;}
	.col-8{width: 66.66%;}
	.col-9{width: 75%;}
	.col-10{width: 83.33%;}
	.col-11{width: 91.66%;}
	.col-12{width: 100.0%;}
}
/*For small mobile*/
@media only screen and (max-width: 768px){
	.tech-item{
		font-size: 24px;
	}
	.col-s-1{width: 8.33%;}
	.col-s-2{width: 16.66%;}
	.col-s-3{width: 25%;}
	.col-s-4{width: 33.33%;}
	.col-s-5{width: 41.66%;}
	.col-s-6{width: 50%;}
	.col-s-7{width: 58.33%;}
	.col-s-8{width: 66.66%;}
	.col-s-9{width: 75%;}
	.col-s-10{width: 83.33%;}
	.col-s-11{width: 91.66%;}
	.col-s-12{width: 100.0%;}
}